# ignore all logs
*.log

# ignore db files
mysql/db/*
!mysql/db/.daf

# https://www.pluralsight.com/guides/how-to-use-gitignore-file
# https://www.atlassian.com/br/git/tutorials/saving-changes/gitignore