[client]
port=3306

[mysql]
default-character-set=utf8

[mysqld]
port = 3306
general_log = 1
general_log_file = /var/lib/mysql/general.log

# https://stackoverflow.com/questions/5441972/how-to-see-log-files-in-mysql








#[mysqld]
#log_error = /var/log/mysql/error.log

#general_log_file = /var/log/mysql/mysql.log
#general_log = 1
 
#log_slow_queries = /var/log/mysql/mysql-slow.log
#long_query_time = 2